@font-face {
    font-family: 'Gotham';
    src: url('Gotham-Light.woff2') format('woff2'),
        url('Gotham-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Book';
    src: url('Gotham-Book.woff2') format('woff2'),
        url('Gotham-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: #262626;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-family: 'Gotham', Fallback, sans-serif;
}

h1 {
  font-family: 'Gotham';
  font-weight: normal;
  font-size: 32px;
}

a {
  font-family: 'Gotham';
  font-weight: 300;
  text-decoration: none;
  color: white;
  position: absolute;
  bottom: 8vh;
  transition: opacity 0.4s;
  cursor: pointer;
  size: 16px;
}

a:hover {
  opacity: 0.5;
  transition: opacity 0.4s;
}


@media only screen and (max-width: 600px) {


}
